.links-rodape {
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: 10em;
}
.links-rodape a {
    text-decoration: none;
    color: #00528d;
padding: 0.5em;
}
.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em;
}
.copy {
    text-align: center;
    margin-top: 3em;
}